<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1 class="text-danger">Error!</h1>
    <hr />

    <p class="text-danger">@ViewBag.ErrorMessage</p>
</body>
</html>
